# fly.toml app configuration file generated for binaural-converter-withered-sun-2193 on 2024-12-15T17:00:15-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'binaural-converter-withered-sun-2193'
primary_region = 'ord'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]
  dockerfile = './Dockerfile'

[env]
  PYTHON_VERSION = '3.9.0'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80

  [[services.http_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/'
    protocol = 'http'

[[vm]]
  size = 'shared-cpu-1x'
